{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = "container">
    <h2 class="page-header">Are you sure you want to delete {{cocktail.name}}?</h2>
    <form action="#" method = 'post'>
        <a href = '{{url_for('showCocktails', category_id=cocktail.category_id)}}'>
            <div class="btn btn-default delete">
                Cancel
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
        </a>
        <button type="submit" class="btn btn-default delete" id="submit" type="submit">
            Delete
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </form>
</div>
{% endblock %}