{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- GOOGLE PLUS SIGN IN-->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div id="signInButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="191482201339-n143q0gg7sbb0pj6rg5ugtvb60mipet3.apps.googleusercontent.com"
          data-width="150"
          data-height="150"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
      <div id="result"></div>

      <script>
      function signInCallback(authResult) {
        if (authResult['code']) {
          // Hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('<br>' + result +'</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/category";
               }, 4000);
                
            } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }
        }); } };
      </script>
    </div>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
    <div class="col-md-2">
      <script>
        window.fbAsyncInit = function() {
        FB.init({
          appId      : '237746373229711',
          cookie     : true,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.4' // use version 2.2
        });
        };
        // Load the SDK asynchronously
       
       (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
         // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
          var access_token = FB.getAuthResponse()['accessToken'];
          console.log('Welcome! Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
           $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/category";
               }, 4000);
                
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }
            
        });
          });
        }
      </script>


<button class="btn">
  <fb:login-button data-size="xlarge" scope="public_profile,email" onlogin="sendTokenToServer();">
  <a href='javascript:sendTokenToServer()'>Sign in</a>
  </fb:login-button>
</button>

</div>
</div>
</div>
<!--END FACEBOOK SIGN IN -->
{% endblock %}